n8n/CREDO Finanzportal — E-Mail Versand (2).json
{
  "name": "CREDO Finanzportal — E-Mail Versand",
  "nodes": [
    {
      "parameters": {
        "content": "## CREDO Finanzportal — E-Mail Versand\n\n**Zwei Webhooks, ein Workflow:**\n\n`POST /webhook/credo-reisekosten`\n`POST /webhook/credo-erstattung`\n\n**Setup:**\n1. Outlook Credential setzen (beide Nodes)\n2. Workflow aktivieren\n\n**PDF-Anhang:** wird als Base64\nim pdfBase64-Feld mitgeliefert\nund direkt an Outlook übergeben.",
        "height": 280,
        "width": 280,
        "color": 5
      },
      "id": "85bb48b7-f955-4536-a8ba-2eb2212d63b9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2160,
        -240
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "credo-reisekosten",
        "authentication": "basicAuth",
        "options": {}
      },
      "id": "f46cfa49-867b-4974-8d9e-f5b5152d085d",
      "name": "Webhook Reisekosten",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1568,
        -144
      ],
      "webhookId": "credo-rk-webhook",
      "credentials": {
        "httpBasicAuth": {
          "id": "OXP4Jg0YqjsReFEJ",
          "name": "CREDOFinance_2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "credo-erstattung",
        "authentication": "basicAuth",
        "options": {}
      },
      "id": "2456c878-634f-41b8-98ff-941a684fa35b",
      "name": "Webhook Erstattung",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1824,
        224
      ],
      "webhookId": "credo-er-webhook",
      "credentials": {
        "httpBasicAuth": {
          "id": "OXP4Jg0YqjsReFEJ",
          "name": "CREDOFinance_2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const _raw = $input.first().json; const _root = _raw.body || _raw; var _e = _root.einreichung || _root; var _m = _e.mitarbeiter || {}; var d = Object.assign({}, _e, _m, {an: _root.an || '', mandantName: _e.mandant || '', pdfBase64: _root.pdfBase64 || '', pdfDateiname: _root.pdfDateiname || ''});\nfunction fmt(n){var x=Number(n||0).toFixed(2).split('.');x[0]=x[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g,'.');return x.join(',');}\nfunction fmtDate(iso){if(!iso)return'—';var dt=new Date(iso);return('0'+dt.getDate()).slice(-2)+'.'+('0'+(dt.getMonth()+1)).slice(-2)+'.'+dt.getFullYear();}\nfunction fmtDT(iso){if(!iso)return'—';var dt=new Date(iso);return fmtDate(iso)+' '+('0'+dt.getHours()).slice(-2)+':'+('0'+dt.getMinutes()).slice(-2)+' Uhr';}\nvar vmL={PKW:'PKW',MOTORRAD:'Motorrad',OEPNV:'ÖPNV',BAHN:'Bahn',FLUG:'Flugzeug',SONSTIGE:'Sonstige'};\nvar tL={ANREISE:'Anreisetag',GANZTAG:'Ganztag',ABREISE:'Abreisetag',EINTAEGIG:'Eintägig'};\nvar tr='<tr><td colspan=\"4\" style=\"background:#fff;padding:0 36px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"border-top:1px solid #e8e8e8;font-size:1px\">&nbsp;</td></tr></table></td></tr>';\nvar rkRows='';\nif(d.reisetage&&d.reisetage.length){d.reisetage.forEach(function(t,i){var bg=i%2===0?'#fff':'#f7f7f7';var m=[];if(t.fruehstueckGestellt)m.push('Frühstück');if(t.mittagGestellt)m.push('Mittagessen');if(t.abendGestellt)m.push('Abendessen');var ms=m.length?'<span style=\"color:#E2001A\">'+m.join(', ')+'</span>':'<span style=\"color:#999\">—</span>';rkRows+='<tr style=\"background:'+bg+'\"><td style=\"padding:10px 14px;font-family:Arial,sans-serif;font-size:13px;color:#333;border-bottom:1px solid #ebebeb\">'+fmtDate(t.datum)+'</td><td style=\"padding:10px 14px;font-family:Arial,sans-serif;font-size:12px;color:#575756;border-bottom:1px solid #ebebeb\">'+(tL[t.typ]||t.typ)+'</td><td style=\"padding:10px 14px;font-family:Arial,sans-serif;font-size:12px;border-bottom:1px solid #ebebeb\">'+ms+'</td><td style=\"padding:10px 14px;font-family:Arial,sans-serif;font-size:13px;color:#333;text-align:right;border-bottom:1px solid #ebebeb;font-weight:bold\">'+fmt(t.vmaNetto)+' EUR</td></tr>';});}\nvar rkTable=rkRows?'<tr><td colspan=\"4\" style=\"background:#fff;padding:0 36px 28px\"><p style=\"margin:0 0 12px;font-family:Arial,sans-serif;font-size:10px;color:#575756;letter-spacing:2px;text-transform:uppercase;font-weight:bold\">Reisetage &amp; VMA</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e0e0e0;border-collapse:collapse\"><tr style=\"background:#575756\"><th style=\"padding:9px 14px;text-align:left;font-family:Arial,sans-serif;font-size:10px;color:#fff;font-weight:bold;letter-spacing:1px;text-transform:uppercase\">Datum</th><th style=\"padding:9px 14px;text-align:left;font-family:Arial,sans-serif;font-size:10px;color:#fff;font-weight:bold;letter-spacing:1px;text-transform:uppercase\">Typ</th><th style=\"padding:9px 14px;text-align:left;font-family:Arial,sans-serif;font-size:10px;color:#fff;font-weight:bold;letter-spacing:1px;text-transform:uppercase\">Mahlzeiten</th><th style=\"padding:9px 14px;text-align:right;font-family:Arial,sans-serif;font-size:10px;color:#fff;font-weight:bold;letter-spacing:1px;text-transform:uppercase\">VMA netto</th></tr>'+rkRows+'</table></td></tr>':'';\nvar hinweise='<tr><td colspan=\"4\" style=\"background:#f4f4f4;padding:25px 36px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fff;border-left:4px solid #dadada\"><tr><td style=\"padding:18px 22px\"><p style=\"margin:0 0 12px;font-family:Arial,sans-serif;font-size:10px;color:#575756;letter-spacing:2px;text-transform:uppercase;font-weight:bold\">Hinweise Reisekosten 2026</p><p style=\"margin:0 0 6px;font-family:Arial,sans-serif;font-size:12px;color:#555;line-height:1.7\">&bull;&nbsp;VMA: <strong>14,00 EUR</strong> (&gt;8h &amp; An-/Abreisetag) &middot; <strong>28,00 EUR</strong> (Ganztag)</p><p style=\"margin:0 0 6px;font-family:Arial,sans-serif;font-size:12px;color:#555;line-height:1.7\">&bull;&nbsp;Kürzung: Frühstück 5,60 &middot; Mittagessen 11,20 &middot; Abendessen 11,20 EUR</p><p style=\"margin:0 0 6px;font-family:Arial,sans-serif;font-size:12px;color:#555;line-height:1.7\">&bull;&nbsp;Km-Pauschale: PKW <strong>0,30 EUR/km</strong> &middot; Motorrad <strong>0,20 EUR/km</strong></p><p style=\"margin:8px 0 0;font-family:Arial,sans-serif;font-size:10px;color:#aaa\">&sect;9 Abs.4a EStG &middot; BMF 05.12.2025</p></td></tr></table></td></tr>';\nvar extraSection='<tr><td colspan=\"4\" style=\"background:#fff;padding:0 36px 22px\"><p style=\"margin:0 0 14px;font-family:Arial,sans-serif;font-size:10px;color:#575756;letter-spacing:2px;text-transform:uppercase;font-weight:bold\">Reisedaten</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td width=\"50%\" style=\"vertical-align:top;padding-bottom:16px\"><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:10px;color:#aaa;letter-spacing:1px;text-transform:uppercase\">Reiseziel</p><p style=\"margin:0;font-family:Arial,sans-serif;font-size:15px;font-weight:bold;color:#333\">'+(d.reiseziel||'—')+'</p></td><td width=\"50%\" style=\"vertical-align:top\"><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:10px;color:#aaa;letter-spacing:1px;text-transform:uppercase\">Verkehrsmittel</p><p style=\"margin:0;font-family:Arial,sans-serif;font-size:15px;font-weight:bold;color:#333\">'+(vmL[d.verkehrsmittel]||d.verkehrsmittel||'—')+'</p></td></tr><tr><td width=\"50%\" style=\"vertical-align:top\"><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:10px;color:#aaa;letter-spacing:1px;text-transform:uppercase\">Abfahrt</p><p style=\"margin:0;font-family:Arial,sans-serif;font-size:13px;color:#333\">'+fmtDT(d.abfahrtZeit)+'</p></td><td width=\"50%\" style=\"vertical-align:top\"><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:10px;color:#aaa;letter-spacing:1px;text-transform:uppercase\">Rückkehr</p><p style=\"margin:0;font-family:Arial,sans-serif;font-size:13px;color:#333\">'+fmtDT(d.rueckkehrZeit)+'</p></td></tr></table></td></tr>';\nvar pdfBase64=d.pdfBase64||'';\nvar pdfDateiname=d.pdfDateiname||(d.belegNr+'.pdf');\nvar html='<!DOCTYPE html><html lang=\"de\"><head><meta charset=\"UTF-8\"><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"></head><body style=\"margin:0;padding:0;background:#eeeded\">'+\n'<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#eeeded\"><tr><td align=\"center\" style=\"padding:32px 15px\">'+\n'<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%\">'+\n'<tr><td style=\"background:#FBC900;height:6px;width:150px;font-size:1px\">&nbsp;</td><td style=\"background:#6BAA24;height:6px;width:150px;font-size:1px\">&nbsp;</td><td style=\"background:#E2001A;height:6px;width:150px;font-size:1px\">&nbsp;</td><td style=\"background:#009AC6;height:6px;width:150px;font-size:1px\">&nbsp;</td></tr>'+\n'<tr><td colspan=\"4\" style=\"background:#575756;padding:36px 40px 30px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td><p style=\"margin:0 0 6px;font-family:Arial,sans-serif;font-size:10px;color:#aaa;letter-spacing:4px;text-transform:uppercase\">CREDO GRUPPE &middot; FINANZPORTAL</p><h1 style=\"margin:0 0 8px;font-family:Arial Black,Arial,sans-serif;font-size:30px;font-weight:900;color:#fff;line-height:1.1\">Reisekostenabrechnung</h1><p style=\"margin:0;font-family:Arial,sans-serif;font-size:13px;color:#bbbbb9\">Neue Einreichung eingegangen</p></td><td align=\"right\" valign=\"bottom\"><p style=\"margin:0;font-family:Arial,sans-serif;font-size:9px;color:#888;letter-spacing:2px\">lebensnah &bull; wegweisend &bull; christlich</p></td></tr></table></td></tr>'+\n'<tr><td colspan=\"4\" style=\"background:#fff;padding:0\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:#FBC900;width:5px;font-size:1px\">&nbsp;</td><td style=\"padding:20px 30px\"><table cellpadding=\"0\" cellspacing=\"0\"><tr><td><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:9px;color:#aaa;letter-spacing:3px;text-transform:uppercase\">BELEGNUMMER</p><p style=\"margin:0;font-family:Courier New,Courier,monospace;font-size:22px;font-weight:bold;color:#333;letter-spacing:3px\">'+(d.belegNr||'—')+'</p></td><td style=\"padding-left:50px\"><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:9px;color:#aaa;letter-spacing:3px;text-transform:uppercase\">EINGEREICHT AM</p><p style=\"margin:0;font-family:Arial,sans-serif;font-size:15px;font-weight:bold;color:#333\">'+fmtDate(new Date().toISOString())+'</p></td></tr></table></td></tr></table></td></tr>'+\ntr+\n'<tr><td colspan=\"4\" style=\"background:#fff;padding:26px 36px 22px\"><p style=\"margin:0 0 14px;font-family:Arial,sans-serif;font-size:10px;color:#575756;letter-spacing:2px;text-transform:uppercase;font-weight:bold\">Mitarbeiter</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td width=\"50%\" style=\"vertical-align:top\"><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:10px;color:#aaa;letter-spacing:1px;text-transform:uppercase\">Name</p><p style=\"margin:0 0 18px;font-family:Arial,sans-serif;font-size:16px;font-weight:bold;color:#333\">'+(d.vorname||'')+' '+(d.nachname||'')+'</p></td><td width=\"50%\" style=\"vertical-align:top\"><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:10px;color:#aaa;letter-spacing:1px;text-transform:uppercase\">Personalnummer</p><p style=\"margin:0 0 18px;font-family:Courier New,Courier,monospace;font-size:15px;font-weight:bold;color:#333\">'+(d.personalNr||'—')+'</p></td></tr><tr><td width=\"50%\" style=\"vertical-align:top\"><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:10px;color:#aaa;letter-spacing:1px;text-transform:uppercase\">Mandant</p><p style=\"margin:0;font-family:Arial,sans-serif;font-size:14px;color:#575756;font-weight:bold\">'+(d.mandantName||'—')+'</p></td><td width=\"50%\" style=\"vertical-align:top\"><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:10px;color:#aaa;letter-spacing:1px;text-transform:uppercase\">Mandanten-Nr.</p><p style=\"margin:0;font-family:Courier New,Courier,monospace;font-size:14px;color:#575756\">'+(d.mandantNr||'—')+'</p></td></tr></table></td></tr>'+\ntr+extraSection+tr+\n'<tr><td colspan=\"4\" style=\"background:#fff;padding:6px 36px 28px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#575756\"><tr><td style=\"padding:26px 30px\"><p style=\"margin:0 0 6px;font-family:Arial,sans-serif;font-size:9px;color:#dadada;letter-spacing:4px;text-transform:uppercase\">ERSTATTUNGSBETRAG</p><p style=\"margin:0;font-family:Arial Black,Arial,sans-serif;font-size:38px;font-weight:900;color:#fff;line-height:1\">'+fmt(d.gesamtbetrag)+' EUR</p></td><td align=\"right\" style=\"padding:26px 30px\"><p style=\"margin:0 0 5px;font-family:Arial,sans-serif;font-size:9px;color:#aaa;letter-spacing:2px;text-transform:uppercase\">IBAN</p><p style=\"margin:0 0 14px;font-family:Courier New,Courier,monospace;font-size:13px;color:#fff\">'+(d.iban||'—')+'</p><p style=\"margin:0 0 5px;font-family:Arial,sans-serif;font-size:9px;color:#aaa;letter-spacing:2px;text-transform:uppercase\">KONTOINHABER</p><p style=\"margin:0;font-family:Arial,sans-serif;font-size:13px;color:#fff\">'+(d.kontoinhaber||'—')+'</p></td></tr></table></td></tr>'+\nrkTable+hinweise+\n(pdfBase64 ? '<tr><td colspan=\"4\" style=\"background:#f4f4f4;padding:0 36px 28px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fff;border:1px solid #e0e0e0\"><tr><td style=\"padding:14px 22px\"><p style=\"margin:0;font-family:Arial,sans-serif;font-size:13px;color:#555;line-height:1.6\">&#128206;&nbsp;<strong>Abrechnungsdokument (PDF)</strong> mit allen Belegen ist als Anhang beigefügt.</p></td></tr></table></td></tr>' : '')+\n'<tr><td colspan=\"4\" style=\"background:#575756;padding:24px 36px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td><p style=\"margin:0 0 4px;font-family:Arial,sans-serif;font-size:12px;color:#fff;font-weight:bold\">Christlicher Schulverein Minden e.V.</p><p style=\"margin:0;font-family:Arial,sans-serif;font-size:11px;color:#aaa\">Kingsleyallee 6 &bull; 32425 Minden &bull; Tel. 0571 388 60-148 &bull; fes-minden.de</p></td><td align=\"right\" valign=\"middle\"><p style=\"margin:0;font-family:Arial,sans-serif;font-size:10px;color:#888\">CREDO Finanzportal</p></td></tr></table></td></tr>'+\n'<tr><td style=\"background:#FBC900;height:5px;font-size:1px\">&nbsp;</td><td style=\"background:#6BAA24;height:5px;font-size:1px\">&nbsp;</td><td style=\"background:#E2001A;height:5px;font-size:1px\">&nbsp;</td><td style=\"background:#009AC6;height:5px;font-size:1px\">&nbsp;</td></tr>'+\n'</table></td></tr></table></body></html>';\nvar out={json:{an:String(d.an||''),betreff:d.betreff||('['+d.belegNr+'] '+(d.mandantNr||'')+' '+d.vorname+' '+d.nachname+' - '+(d.mandantName||'')),htmlBody:html,hasPdf:!!pdfBase64}};\nif(pdfBase64){var buf=Buffer.from(pdfBase64,'base64');out.binary={attachment_0:await this.helpers.prepareBinaryData(buf,pdfDateiname,'application/pdf')};}\nreturn [out];"
      },
      "id": "c501e76b-e10c-4fc2-b1fc-1ee29f446def",
      "name": "HTML Reisekosten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        -144
      ]
    },
    {
      "parameters": {
        "jsCode": "const _raw = $input.first().json; const _root = _raw.body || _raw; var _e = _root.einreichung || _root; var _m = _e.mitarbeiter || {}; var d = Object.assign({}, _e, _m, {an: _root.an || '', mandantName: _e.mandant || '', pdfBase64: _root.pdfBase64 || '', pdfDateiname: _root.pdfDateiname || ''});\nfunction fmt(n){var x=Number(n||0).toFixed(2).split('.');x[0]=x[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g,'.');return x.join(',');}\nfunction fmtDate(iso){if(!iso)return'—';var dt=new Date(iso);return('0'+dt.getDate()).slice(-2)+'.'+('0'+(dt.getMonth()+1)).slice(-2)+'.'+dt.getFullYear();}\nvar kL={BUEROMATERIAL:'Büromaterial',FACHLITERATUR:'Fachliteratur',LEBENSMITTEL:'Lebensmittel',ARBEITSMITTEL:'Arbeitsmittel',FORTBILDUNG:'Fortbildung',SONSTIGES:'Sonstiges'};\nvar tr='<tr><td colspan=\"4\" style=\"background:#fff;padding:0 36px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"border-top:1px solid #e8e8e8;font-size:1px\">&nbsp;</td></tr></table></td></tr>';\nvar posRows='';var posTotal=0;\nif(d.positionen&&d.positionen.length){d.positionen.forEach(function(p,i){posTotal+=Number(p.betrag||0);var bg=i%2===0?'#fff':'#f7f7f7';posRows+='<tr style=\"background:'+bg+'\"><td style=\"padding:11px 14px;font-family:Arial,sans-serif;font-size:13px;color:#333;border-bottom:1px solid #ebebeb\">'+fmtDate(p.datum)+'</td><td style=\"padding:11px 14px;font-family:Arial,sans-serif;font-size:13px;color:#333;border-bottom:1px solid #ebebeb\">'+(p.beschreibung||'—')+'</td><td style=\"padding:11px 14px;font-family:Arial,sans-serif;font-size:12px;border-bottom:1px solid #ebebeb\"><span style=\"display:inline-block;padding:2px 10px;background:#f0f0f0;color:#575756;font-size:10px;letter-spacing:1px\">'+(kL[p.kategorie]||p.kategorie||'—')+'</span></td><td style=\"padding:11px 14px;font-family:Arial,sans-serif;font-size:13px;color:#333;text-align:right;border-bottom:1px solid #ebebeb;font-weight:bold\">'+fmt(p.betrag)+' EUR</td></tr>';});posRows+='<tr style=\"background:#575756\"><td colspan=\"3\" style=\"padding:12px 14px;font-family:Arial,sans-serif;font-size:12px;color:#dadada;font-weight:bold;letter-spacing:1px\">GESAMT</td><td style=\"padding:12px 14px;font-family:Arial,sans-serif;font-size:15px;color:#fff;text-align:right;font-weight:bold\">'+fmt(posTotal)+' EUR</td></tr>';}\nvar posTable=posRows?'<tr><td colspan=\"4\" style=\"background:#fff;padding:0 36px 28px\"><p style=\"margin:0 0 12px;font-family:Arial,sans-serif;font-size:10px;color:#575756;letter-spacing:2px;text-transform:uppercase;font-weight:bold\">Positionen</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e0e0e0;border-collapse:collapse\"><tr style=\"background:#575756\"><th style=\"padding:9px 14px;text-align:left;font-family:Arial,sans-serif;font-size:10px;color:#fff;font-weight:bold;letter-spacing:1px;text-transform:uppercase\">Datum</th><th style=\"padding:9px 14px;text-align:left;font-family:Arial,sans-serif;font-size:10px;color:#fff;font-weight:bold;letter-spacing:1px;text-transform:uppercase\">Beschreibung</th><th style=\"padding:9px 14px;text-align:left;font-family:Arial,sans-serif;font-size:10px;color:#fff;font-weight:bold;letter-spacing:1px;text-transform:uppercase\">Kategorie</th><th style=\"padding:9px 14px;text-align:right;font-family:Arial,sans-serif;font-size:10px;color:#fff;font-weight:bold;letter-spacing:1px;text-transform:uppercase\">Betrag</th></tr>'+posRows+'</table></td></tr>':'';\nvar pdfBase64=d.pdfBase64||'';\nvar pdfDateiname=d.pdfDateiname||(d.belegNr+'.pdf');\nvar html='<!DOCTYPE html><html lang=\"de\"><head><meta charset=\"UTF-8\"><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"></head><body style=\"margin:0;padding:0;background:#eeeded\">'+\n'<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#eeeded\"><tr><td align=\"center\" style=\"padding:32px 15px\">'+\n'<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%\">'+\n'<tr><td style=\"background:#FBC900;height:6px;width:150px;font-size:1px\">&nbsp;</td><td style=\"background:#6BAA24;height:6px;width:150px;font-size:1px\">&nbsp;</td><td style=\"background:#E2001A;height:6px;width:150px;font-size:1px\">&nbsp;</td><td style=\"background:#009AC6;height:6px;width:150px;font-size:1px\">&nbsp;</td></tr>'+\n'<tr><td colspan=\"4\" style=\"background:#575756;padding:36px 40px 30px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td><p style=\"margin:0 0 6px;font-family:Arial,sans-serif;font-size:10px;color:#aaa;letter-spacing:4px;text-transform:uppercase\">CREDO GRUPPE &middot; FINANZPORTAL</p><h1 style=\"margin:0 0 8px;font-family:Arial Black,Arial,sans-serif;font-size:30px;font-weight:900;color:#fff;line-height:1.1\">Kostenerstattung</h1><p style=\"margin:0;font-family:Arial,sans-serif;font-size:13px;color:#bbbbb9\">Neue Einreichung eingegangen</p></td><td align=\"right\" valign=\"bottom\"><p style=\"margin:0;font-family:Arial,sans-serif;font-size:9px;color:#888;letter-spacing:2px\">lebensnah &bull; wegweisend &bull; christlich</p></td></tr></table></td></tr>'+\n'<tr><td colspan=\"4\" style=\"background:#fff;padding:0\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:#6BAA24;width:5px;font-size:1px\">&nbsp;</td><td style=\"padding:20px 30px\"><table cellpadding=\"0\" cellspacing=\"0\"><tr><td><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:9px;color:#aaa;letter-spacing:3px;text-transform:uppercase\">BELEGNUMMER</p><p style=\"margin:0;font-family:Courier New,Courier,monospace;font-size:22px;font-weight:bold;color:#333;letter-spacing:3px\">'+(d.belegNr||'—')+'</p></td><td style=\"padding-left:50px\"><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:9px;color:#aaa;letter-spacing:3px;text-transform:uppercase\">EINGEREICHT AM</p><p style=\"margin:0;font-family:Arial,sans-serif;font-size:15px;font-weight:bold;color:#333\">'+fmtDate(new Date().toISOString())+'</p></td><td style=\"padding-left:50px\"><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:9px;color:#aaa;letter-spacing:3px;text-transform:uppercase\">POSITIONEN</p><p style=\"margin:0;font-family:Arial,sans-serif;font-size:22px;font-weight:bold;color:#333\">'+(d.anzahlPositionen||(d.positionen?d.positionen.length:0))+'</p></td></tr></table></td></tr></table></td></tr>'+\ntr+\n'<tr><td colspan=\"4\" style=\"background:#fff;padding:26px 36px 22px\"><p style=\"margin:0 0 14px;font-family:Arial,sans-serif;font-size:10px;color:#575756;letter-spacing:2px;text-transform:uppercase;font-weight:bold\">Mitarbeiter</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td width=\"50%\" style=\"vertical-align:top\"><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:10px;color:#aaa;letter-spacing:1px;text-transform:uppercase\">Name</p><p style=\"margin:0 0 18px;font-family:Arial,sans-serif;font-size:16px;font-weight:bold;color:#333\">'+(d.vorname||'')+' '+(d.nachname||'')+'</p></td><td width=\"50%\" style=\"vertical-align:top\"><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:10px;color:#aaa;letter-spacing:1px;text-transform:uppercase\">Personalnummer</p><p style=\"margin:0 0 18px;font-family:Courier New,Courier,monospace;font-size:15px;font-weight:bold;color:#333\">'+(d.personalNr||'—')+'</p></td></tr><tr><td width=\"50%\" style=\"vertical-align:top\"><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:10px;color:#aaa;letter-spacing:1px;text-transform:uppercase\">Mandant</p><p style=\"margin:0;font-family:Arial,sans-serif;font-size:14px;color:#575756;font-weight:bold\">'+(d.mandantName||'—')+'</p></td><td width=\"50%\" style=\"vertical-align:top\"><p style=\"margin:0 0 3px;font-family:Arial,sans-serif;font-size:10px;color:#aaa;letter-spacing:1px;text-transform:uppercase\">Mandanten-Nr.</p><p style=\"margin:0;font-family:Courier New,Courier,monospace;font-size:14px;color:#575756\">'+(d.mandantNr||'—')+'</p></td></tr></table></td></tr>'+\ntr+\n'<tr><td colspan=\"4\" style=\"background:#fff;padding:26px 36px 28px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#575756\"><tr><td style=\"padding:26px 30px\"><p style=\"margin:0 0 6px;font-family:Arial,sans-serif;font-size:9px;color:#dadada;letter-spacing:4px;text-transform:uppercase\">ERSTATTUNGSBETRAG</p><p style=\"margin:0;font-family:Arial Black,Arial,sans-serif;font-size:38px;font-weight:900;color:#fff;line-height:1\">'+fmt(d.gesamtbetrag)+' EUR</p></td><td align=\"right\" style=\"padding:26px 30px\"><p style=\"margin:0 0 5px;font-family:Arial,sans-serif;font-size:9px;color:#aaa;letter-spacing:2px;text-transform:uppercase\">IBAN</p><p style=\"margin:0 0 14px;font-family:Courier New,Courier,monospace;font-size:13px;color:#fff\">'+(d.iban||'—')+'</p><p style=\"margin:0 0 5px;font-family:Arial,sans-serif;font-size:9px;color:#aaa;letter-spacing:2px;text-transform:uppercase\">KONTOINHABER</p><p style=\"margin:0;font-family:Arial,sans-serif;font-size:13px;color:#fff\">'+(d.kontoinhaber||'—')+'</p></td></tr></table></td></tr>'+\nposTable+\n(pdfBase64 ? '<tr><td colspan=\"4\" style=\"background:#f4f4f4;padding:25px 36px 28px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fff;border:1px solid #e0e0e0\"><tr><td style=\"padding:14px 22px\"><p style=\"margin:0;font-family:Arial,sans-serif;font-size:13px;color:#555;line-height:1.6\">&#128206;&nbsp;<strong>Abrechnungsdokument (PDF)</strong> mit allen Belegen ist als Anhang beigefügt.</p></td></tr></table></td></tr>' : '')+\n'<tr><td colspan=\"4\" style=\"background:#575756;padding:24px 36px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td><p style=\"margin:0 0 4px;font-family:Arial,sans-serif;font-size:12px;color:#fff;font-weight:bold\">Christlicher Schulverein Minden e.V.</p><p style=\"margin:0;font-family:Arial,sans-serif;font-size:11px;color:#aaa\">Kingsleyallee 6 &bull; 32425 Minden &bull; Tel. 0571 388 60-148 &bull; fes-minden.de</p></td><td align=\"right\" valign=\"middle\"><p style=\"margin:0;font-family:Arial,sans-serif;font-size:10px;color:#888\">CREDO Finanzportal</p></td></tr></table></td></tr>'+\n'<tr><td style=\"background:#FBC900;height:5px;font-size:1px\">&nbsp;</td><td style=\"background:#6BAA24;height:5px;font-size:1px\">&nbsp;</td><td style=\"background:#E2001A;height:5px;font-size:1px\">&nbsp;</td><td style=\"background:#009AC6;height:5px;font-size:1px\">&nbsp;</td></tr>'+\n'</table></td></tr></table></body></html>';\nvar out={json:{an:String(d.an||''),betreff:d.betreff||('['+d.belegNr+'] '+(d.mandantNr||'')+' '+d.vorname+' '+d.nachname+' - '+(d.mandantName||'')),htmlBody:html,hasPdf:!!pdfBase64}};\nif(pdfBase64){var buf=Buffer.from(pdfBase64,'base64');out.binary={attachment_0:await this.helpers.prepareBinaryData(buf,pdfDateiname,'application/pdf')};}\nreturn [out];"
      },
      "id": "f8b5cbd1-aa9a-48fa-9dbd-edb4c6b1d194",
      "name": "HTML Erstattung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        224
      ]
    },
    {
      "parameters": {
        "toRecipients": "={{ String($json[\"an\"] || \"\") }}",
        "subject": "={{ $json[\"betreff\"] }}",
        "bodyContent": "={{ $json[\"htmlBody\"] }}",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "attachment_0"
              }
            ]
          },
          "bodyContentType": "html",
          "replyTo": "buchhaltung@fes-minden.de"
        }
      },
      "id": "bd9080c9-9817-4bff-90a9-0b0f8b61c228",
      "name": "Outlook Reisekosten",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -832,
        -256
      ],
      "webhookId": "a31d3e5d-91ce-485a-b725-baded0194212",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "FCU8Wm3Is8PCPAHT",
          "name": "n8n@fes-minden.de"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ String($json[\"an\"] || \"\") }}",
        "subject": "={{ $json[\"betreff\"] }}",
        "bodyContent": "={{ $json[\"htmlBody\"] }}",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "attachment_0"
              }
            ]
          },
          "bodyContentType": "html",
          "replyTo": "buchhaltung@fes-minden.de"
        }
      },
      "id": "91845c83-7931-48b7-a3d4-6a69c8651363",
      "name": "Outlook Erstattung",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -848,
        144
      ],
      "webhookId": "9b63105b-1398-4a39-9df2-28ea0421686e",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "FCU8Wm3Is8PCPAHT",
          "name": "n8n@fes-minden.de"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4ee08506-4dd3-4a98-8172-5b6cd3b66bb5",
              "leftValue": "={{ $json.hasPdf }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "27383e6a-d462-4630-8ae3-76ca82c828cc",
      "name": "IF RK hasPdf",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1088,
        -144
      ]
    },
    {
      "parameters": {
        "toRecipients": "={{ String($json[\"an\"] || \"\") }}",
        "subject": "={{ $json[\"betreff\"] }}",
        "bodyContent": "={{ $json[\"htmlBody\"] }}",
        "additionalFields": {
          "bodyContentType": "html",
          "replyTo": "buchhaltung@fes-minden.de"
        }
      },
      "id": "dd998e8e-41f6-4314-8016-d5971a4c3d88",
      "name": "Outlook RK kein Anhang",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -832,
        -48
      ],
      "webhookId": "cb662491-4693-480f-a0b7-382e4bad1b2f",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "FCU8Wm3Is8PCPAHT",
          "name": "n8n@fes-minden.de"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ba93df0d-7f4e-4769-b697-974bbe20d846",
              "leftValue": "={{ $json.hasPdf }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "39ddb4d4-b235-49be-b1ed-73b926ebd5cd",
      "name": "IF E hasPdf",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1344,
        224
      ]
    },
    {
      "parameters": {
        "toRecipients": "={{ String($json[\"an\"] || \"\") }}",
        "subject": "={{ $json[\"betreff\"] }}",
        "bodyContent": "={{ $json[\"htmlBody\"] }}",
        "additionalFields": {
          "bodyContentType": "html",
          "replyTo": "buchhaltung@fes-minden.de"
        }
      },
      "id": "8c8ab057-7f31-461c-a908-2a6a7bfae93f",
      "name": "Outlook E kein Anhang",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -848,
        352
      ],
      "webhookId": "ddfba446-7dbd-4320-b4f0-fc722508b9c3",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "FCU8Wm3Is8PCPAHT",
          "name": "n8n@fes-minden.de"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Reisekosten": {
      "main": [
        [
          {
            "node": "HTML Reisekosten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Erstattung": {
      "main": [
        [
          {
            "node": "HTML Erstattung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Reisekosten": {
      "main": [
        [
          {
            "node": "IF RK hasPdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF RK hasPdf": {
      "main": [
        [
          {
            "node": "Outlook Reisekosten",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outlook RK kein Anhang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Erstattung": {
      "main": [
        [
          {
            "node": "IF E hasPdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF E hasPdf": {
      "main": [
        [
          {
            "node": "Outlook Erstattung",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outlook E kein Anhang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "any",
    "availableInMCP": false,
    "timeSavedPerExecution": 15,
    "errorWorkflow": "UBadcLmQWUlnrAoE"
  },
  "versionId": "262c816e-bf90-428e-9831-4193d2e6874b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e75075e486e4192f33767e43908272d82e28a9ce2d672c3bbdb16c0d4494ec39"
  },
  "id": "pF60yaiCQAv6K8Eh",
  "tags": [
    {
      "updatedAt": "2026-03-23T11:58:35.944Z",
      "createdAt": "2026-03-23T11:58:35.944Z",
      "id": "rK4JBJ6lx4EjXbhF",
      "name": "CREDO Finanzportal"
    }
  ]
}